nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-bottom: 20px;
    background-color:#405357;
}
nav a:hover{background-color: #ede0c2;}
ul {
    color:#f7f2e8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a:link{
    text-decoration-style: wavy;
}

a {color:#f7f2e8;}
a:link {color:#f7f2e8;}
a:visited {color:#f7f2e8;}
a:hover {color:#f7f2e8;}
a:active {color:#f7f2e8;}


footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    margin-top: 25px;
    color:#20292b;
}
/** FIRST PAGE **/
#page1head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    color:#ede0c2;
    background-color:#405357;
    font-size: 50px;
    text-align: center;
}

.header1 {
    max-width: 100%;
}

.headerimage {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#bodyhome {
    background-color:#a6d5e0;
}

* {box-sizing: border-box;}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
}

.slideshow {
    max-width: 1000px;
    position:relative;
    margin:auto;
}

.mySlides {
    display: none;
}

#firstImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #c4c4c4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #787878;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.colorpal {
    display:flex;
    background-color:#ede0c2;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.colorpal div {
    flex-basis: 100%;
}
.cpal {
    display: flex;
    justify-content: center;
}
#y2k {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#405357;
    padding-right: 9px;
    text-align: center;
    flex-basis: 100%;
}

.firsthead {
    display:flex;
    background-color:#ede0c2;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
}

#p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#405357;
    padding-right: 9px;
    text-align: center; 
}

#p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#405357;
    padding-right: 9px;
    text-align: center;
}
/** FIRST PAGE **/



/** SECOND PAGE **/
body {
    background-color:#f7f2e8;
}

#head1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:#405357;
}

h3 {
    font-family:Snell Roundhand, cursive;
    color:#f7f2e8;
}

#tops {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#3446eb;
    text-align: left;
    margin-top: 3em;
}
.tp {
    display: flex;
    background-color:#3446eb ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #e98335;
}

#pants{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#a3a324;
    text-align: left;
    margin-top: 3em;
}
.pt {
    display: flex;
    background-color: #a3a324 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #7223af;
}

#dress {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#e3652b;
    text-align: left;
    margin-top: 3em;
}

.dr {
    display: flex;
    background-color: #e3652b ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #dcc926;
}

#shoes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#c41f8d;
    text-align: left;
    margin-top: 3em;
}

.sh {
    display: flex;
    background-color: #c41f8d ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #37bd76;
}

/** SECOND PAGE **/

/** THIRD PAGE **/
#fest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#5f21c2;
    text-align: left;
    margin-top: 3em;
}

.ft {
    display: flex;
    background-color: #5f21c2 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #cee935;
}

#ath {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#cc2366;
    text-align: left;
    margin-top: 3em;
}

.at {
    display: flex;
    background-color: #cc2366 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #3952de;
}

#set {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#e88c13;
    text-align: left;
    margin-top: 3em;
}

.st {
    display: flex;
    background-color: #e88c13 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #48ce6c;
}

#swimsuit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#1d38d1;
    text-align: left;
    margin-top: 3em;
}

.sw {
    display: flex;
    background-color: #1d38d1 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #f0911e;
}

#jewelery {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#1db543;
    text-align: left;
    margin-top: 3em;
}

.jw {
    display: flex;
    background-color: #1db543 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #c89feb;
}

#basics {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1em;
    color:#902cc9;
    text-align: left;
    margin-top: 3em;
}

.bs {
    display: flex;
    background-color: #902cc9 ;
    padding: 25px;
    border-radius: 3em;
    margin-bottom: 30px;
    justify-content: space-between;
    border: solid;
    border-color: #de4c39;
}

/** THIRD PAGE **/

#head2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:#405357;
}