p {color:lightpink;
    font-weight:bolder;}
h1 {color:mediumpurple;
    font-size: 400%;
    letter-spacing: .5em;
}
body {
    color:peru;
    font-family:Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-size: 400%;
    /* this is a group selector- it will style both headings*/
}
p a {
    color:orange;
    /* only styling links inside the p tag*/
}
/* the peru only get applied to h2 because p a nd h1 have their own colors */